apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch
  namespace: metro
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
        - name: elasticsearch
          image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
          ports:
            - containerPort: 9200
          env:
            - name: discovery.type
              value: single-node
            - name: xpack.security.enabled
              value: "false"
            - name: ES_JAVA_OPTS
              # value: "-Xms1g -Xmx1g"
              value: "-Xms512m -Xmx512m"
          resources:
            requests:
              # memory: "1.5Gi"
              # cpu: "500m"
              memory: "512Mi"
              cpu: "250m"
            limits:
              # memory: "3Gi"
              # cpu: "1000m"
              memory: "1Gi"
              cpu: "500m"
          volumeMounts:
            - name: es-data
              mountPath: /usr/share/elasticsearch/data
      volumes:
        - name: es-data
          # persistentVolumeClaim:
          #   claimName: elasticsearch-data
          emptyDir: {}
