.idea/
poolingenv
.vscode/
*.DS_Store

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/dist/
frontend/yarn.lock
frontend/pnpm-lock.yaml
frontend/.env
frontend/.env*.local
frontend/*.tsbuildinfo
frontend/next-env.d.ts