services:
  gateway:
    build:
      context: ..               # build from project root
      dockerfile: gateway/Dockerfile
    container_name: gateway
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: default

      # Eureka discovery server in infra
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://registry:8761/eureka

      # Logstash (ELK)
      LOGSTASH_HOST: logstash
      LOGSTASH_PORT: 5044

      # JWT key (Base64 encoded)
      GATEWAY_JWT_SECRET: MTEwNjIwMjQ0NjE5MTE5MzE4Njg0MTk1MjMxNDQ2MjY3MTk2MTU2MjI4NTk3MzgxOTgxMTgwNzk0Nzg1MTkxNjI0OTE1MDYyMjIxMDI=

    networks:
      - infra_default

networks:
  infra_default:
    external: true
