apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: metro
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: confluentinc/cp-kafka:7.6.1
          ports:
            - containerPort: 9092
          env:
            - name: KAFKA_BROKER_ID
              value: "1"

            - name: KAFKA_ZOOKEEPER_CONNECT
              value: zookeeper:2181

            - name: KAFKA_ADVERTISED_LISTENERS
              value: PLAINTEXT://kafka:9092

            - name: KAFKA_LISTENERS
              value: PLAINTEXT://0.0.0.0:9092

            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "1"

            - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
              value: "1"

            - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
              value: "1"
