apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: metro-kafka-pool
  namespace: metro
  labels:
    strimzi.io/cluster: metro-kafka
spec:
  replicas: 1
  roles:
    - broker
    - controller
  storage:
    type: jbod
    volumes:
      - id: 0
        type: ephemeral
        kraftMetadata: shared
  resources:
    requests:
      memory: "512Mi"
      cpu: "200m"
    limits:
      memory: "1Gi"
      cpu: "500m"
  jvmOptions:
    -Xms: "256m"
    -Xmx: "512m"
