apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: metro-kafka-pool
  namespace: metro
  labels:
    strimzi.io/cluster: metro-kafka
spec:
  replicas: 1
  roles:
    - controller
    - broker
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: 10Gi
        deleteClaim: false
  resources:
    requests:
      memory: 1Gi
      cpu: "500m"
    limits:
      memory: 1.5Gi
      cpu: "1000m"
  jvmOptions:
    -Xms: 512m
    -Xmx: 1024m
