apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: metro
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          # image: notification-notification-service:latest
          # imagePullPolicy: IfNotPresent
          image: inevertheless/notification_microservice:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8087
          env:
            - name: SPRING_DATA_REDIS_HOST
              value: "redis"
            - name: SPRING_DATA_REDIS_PORT
              value: "6379"
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "metro-kafka-kafka-bootstrap:9092"
            - name: SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS
              value: "metro-kafka-kafka-bootstrap:9092"
            - name: SPRING_KAFKA_PRODUCER_BOOTSTRAP_SERVERS
              value: "metro-kafka-kafka-bootstrap:9092"
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: "http://registry:8761/eureka"
            - name: LOGSTASH_HOST
              value: "logstash"
            - name: LOGSTASH_PORT
              value: "5044"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: metro
spec:
  selector:
    app: notification-service
  ports:
    - protocol: TCP
      port: 8087
      targetPort: 8087
      name: http
  type: ClusterIP
