apiVersion: apps/v1
kind: Deployment
metadata:
  name: registry
  namespace: metro
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      containers:
        - name: registry
          # image: registry-service:latest
          # imagePullPolicy: IfNotPresent
          image: inevertheless/registry_microservice:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8761
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
