apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  namespace: metro
  labels:
    app: logstash
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
        - name: logstash
          image: docker.elastic.co/logstash/logstash:8.15.0
          ports:
            - containerPort: 5044
          env:
            # we don't use monitoring here; keeps it light
            - name: xpack.monitoring.enabled
              value: "false"
          volumeMounts:
            - name: pipeline
              mountPath: /usr/share/logstash/pipeline
      volumes:
        - name: pipeline
          configMap:
            name: logstash-pipeline
