apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-pipeline
  namespace: metro
data:
  logstash.conf: |
    input {
      tcp {
        port => 5044
        codec => json
      }
    }

    output {
      elasticsearch {
        hosts => ["http://elasticsearch:9200"]
        index => "microservices-%{+YYYY.MM.dd}"
      }
      stdout {
        codec => rubydebug
      }
    }
