apiVersion: v1
kind: Service
metadata:
  name: user
  namespace: metro
spec:
  selector:
    app: user
  ports:
    - name: http
      port: 8081
      targetPort: 8081
    - name: grpc
      port: 9095
      targetPort: 9095
