<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="unknown-service" />

    <!-- ENV variables resolve immediately even before Spring loads -->
    <property name="LOGSTASH_HOST" value="${LOGSTASH_HOST:-logstash}" />
    <property name="LOGSTASH_PORT" value="${LOGSTASH_PORT:-5044}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>

        <keepAliveDuration>5 minutes</keepAliveDuration>
        <reconnectionDelay>5000</reconnectionDelay>
        <writeBufferSize>8192</writeBufferSize>
        <immediateFlush>true</immediateFlush>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${APP_NAME}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>
